@import url(./reset.css);

.none {
	display: none !important;
}

html {
	font-size: 16px;
}

body {
	max-width: 1440px;
	margin: 0 auto;
	overflow-x: hidden;

	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	color: #010101;
}

h1 {
	font-weight: 500;
	font-size: 3.75rem;
}

h2 {
	font-weight: 500;
	font-size: 40px;
	line-height: 1.25;
}

h5 {
	font-weight: 500;
	font-size: 20px;
}

.desc {
	font-size: 1.2rem;
	color: #656361;
}

header {
	width: 100%;
	background-color: #0083ff;
	padding: 20px 100px;
	font-size: 1rem;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0;
}

.logo {
	width: 132px;
	height: 40px;
}

.logo__header {
	margin-right: 105px;
}

header ul {
	margin: auto;
	margin-left: 0;
	gap: 50px;

	color: #fff;
}

.userIcon {
	width: 40px;
	height: 40px;
}

.auth__text {
	margin-right: 30px;
}

.button {
	background-color: #8b0000;
	border-radius: 1000px;
	padding: 23px 31px;

	color: #fff;
}

.auth__button {
	background-color: transparent;
	color: #000;
	border-radius: 100px;
	padding: 15.5px 21.5px;
	border: 2px solid #000;
}

.intro-row {
	background-color: #fbf6f2;
}

.intro__half-text {
	background-color: #fbf6f2;

	padding-left: 60px;
	padding-top: 30px;
}

.calc__body {
	padding: 18px;
	width: 80%;
	border-radius: 1000px;
	background-color: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main input {
	max-width: 420px;

	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		#ffffff;
	border-radius: 1000px;
	line-height: 25px;
	padding: 20px 25px 20px 20px;
}

.half--rounded {
	border-radius: 1000px 0 0 1000px;
	margin: 0;
}

.intro__half-text:nth-child(2) {
	padding-left: 120px;
}

.city__search {
	margin-left: -50px;
	padding: 18px;
	border-radius: 1000px;
	display: flex;
	background-color: #fff;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input__loupe {
	height: 65px;
	border-radius: 0 1000px 1000px 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		#ffffff;
}

.loupeIcon {
	width: 29px;
	height: 29px;
}

.services {
	padding-bottom: 60px;
}

.service--button {
	padding: 15.5px 36px;
}

.benefits {
	background-color: #dfe3e7;
	padding: 40px 0;
}
.benefitCard {
	width: 380px;
	height: 300px;
	background-color: #fff;
	border-radius: 15px;

	padding-top: 43px;
	padding-left: 28px;
}
.benefitCard__img {
	width: 69px;
	height: 69px;
}
.benefitCard__text {
	font-weight: 500;
	font-size: 1.25rem;
}

.aboutus {
	width: 100%;
	height: auto;
	padding: 40px 0 60px;

	background: url('./img/png/aboutus-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.aboutus p {
	font-weight: 300;
	font-size: 28px;
	line-height: 1.25;
}

.aboutus p:nth-child(3) {
	line-height: 0.1;
}

.subscription {
	width: 100%;
	height: 300px;
	background-color: #0083ff;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.subscription h2 {
	margin: 75px 0 40px;
}

.subscription .subscription-body {
	max-width: 600px;
	height: 72px;
	padding-right: 29px;
	padding-left: 45px;

	border: 1px solid #000;
	border-radius: 1000px;

	display: flex;
}

.subscription-input {
	height: 100%;

	background: transparent;
	border: none;
	color: #000;
}

.subscription-input::placeholder {
	color: #303030;
}

.subscription-button {
	height: 100%;
	font-weight: 500;
	font-size: 16px;
	color: #fff;

	padding: 0;
}

.footer {
	width: 100%;
	height: 340px;
	background-color: #dedede;
}

.footer-container {
	max-width: 700px;
	margin: 0 auto;
	padding-top: 55px;
}

.footer h5 {
	margin-bottom: 1.5em;
}

@media (max-width: 1300px) {
	.calc__body {
		width: 100%;
	}
}

@media (max-width: 1200px) {
	.logo {
		margin-right: 0;
	}
}

@media (max-width: 1080px) {
	header {
		padding: 20px 30px;
	}
}

@media (max-width: 991px) {
	h1 {
		font-size: 50px;
	}

	.calc__body {
		width: 90%;
	}

	.aboutus p:nth-child(3) {
		line-height: 1.25;
	}

	.benefitCard {
		width: 300px;
	}
}

/* md */
@media (max-width: 767px) {
	.calc__body {
		background: transparent;
		box-shadow: none;
	}
	.intro__half-text,
	.intro__half-text:nth-child(2) {
		padding: 30px;
	}

	.city__search {
		margin-left: 0;
	}
	.benefits {
		padding-top: 0;
	}
	.aboutus p:nth-child(3) {
		line-height: 1.25;
	}
	.subscription h2 {
		margin: 45px 0;
	}
}

/* sm */
@media (max-width: 600px) {
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 30px;
	}

	.button {
		padding: 14px 22px;
	}

	.subscription .subscription-body {
		max-width: 100%;
		height: 58px;
		padding-right: 22px;
		padding-left: 35px;
	}

	.benefitCard {
		width: 280px;
	}

	.footer {
		height: auto;
	}
}
@media (max-width: 400px) {
	.subscription .subscription-body {
		max-width: 100%;
		height: 58px;
		padding-right: 14px;
		padding-left: 22px;
	}

	.subscription-button {
		font-size: 14px;
	}
}
